body{
	font-family:Arial,sans-serif;
	background-image:url("images/background-image-1.jpg");
	background-attachment: fixed;
	color:white;
}

fieldset{
	background-color:rgb(0,0,0,0.5);
	border:3px solid grey;
	padding:12px;
	margin:12px;
	border-radius:0 20px 0 20px;
	box-shadow:0 0 10px black;
}

legend{
	background-image:linear-gradient(45deg,orange,lightgreen,pink,yellow);
	color:blue;
	padding:14px;
	font-size:18px;
	border:2px solid white;
	border-radius:0 20px 0 20px;
	box-shadow:0 0 10px black;	
}

table{
	width:100%;
}

td{
	padding:10px;
	font-size: 18px;
}

th{
	text-align:left;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="month"],
select,
textarea{
	font-size:18px;
	height:35px;
	outline:none;
	border:none;
	border-radius:5px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="month"]:focus,
select:focus,
textarea:focus{
	background-color:orange;
	box-shadow:0 0 10px darkred;
}

.button{
	background-image:linear-gradient(45deg,yellow,lightgreen,orange,pink);
	color:blue;
	padding:14px;
	width:150px;
	font-size:18px;
	border:2px solid white;
	border-radius:0 20px 0 20px;
	box-shadow:0 0 10px black;	
}

.button:hover{
	box-shadow:0 0 10px white;
	cursor:pointer;
}



